/* Conduit ITC W04 */
@font-face {
	font-family: Conduit ITC W04 Black;
	font-weight: 500;
	src: url("/fonts/Conduit-ITC-W04-Black.woff2") format("woff2"),
		url("/fonts/Conduit-ITC-W04-Black.woff") format("woff");
}
@font-face {
	font-family: Conduit ITC W04 Regular;
	font-weight: 600;
	src: url("/fonts/Conduit-ITC-W04-Regular.woff2") format("woff2"),
		url("/fonts/Conduit-ITC-W04-Regular.woff") format("woff");
}
.video-player-dimensions {
	width: 100% !important;
	height: 100% !important;
}
.audio-player-dimensions {
	width: 100% !important;
	height: 200px !important;
}
.vjs-poster {
	background-color: blue !important;
}
.neon-text:hover {
	color: #ffc;
	text-shadow: 0 0 3px #fff, 0 0 7px #ffc, 0 0 14px #ff7, 0 0 21px #ff0, 0 0 33px #ff0;
}
